body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}


.outer_box {
  background-color: #adaaaaf6; 
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.inner_box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}


button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}


.deposit {
  background-color: #28a745;
  color: white;
}


.withdraw {
  background-color: #dc3545;
  color: white;
}